// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #c8b7c1;
$classic-primary-color: #4C3A45;
$classic-secondary-color: #2C2028;
$classic-highlight-color: #bca9b4;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: darken($ui-base-color, 57%);
$ui-highlight-color: $classic-highlight-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-base-color !default;

$primary-text-color: #e9e2e6 !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #a68c9c;
$action-button-color: #606984;

$success-green: #80b38b;
$error-red: #b38080;
$warning-red: #b38c80;

$base-overlay-background: $black !default;

$inverted-text-color: #291822 !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #6A5160;

$account-background-color: #4C3A45 !default;

@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}

//$emojis-requiring-inversion: 'chains';
